# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
*.iml
.gradle/
local.properties
.idea/
*.jks
key.properties

# iOS
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*~.nib
Pods/

# Firebase (hide sensitive files)
google-services.json
GoogleService-Info.plist

# Other
*.log
*.swp
.DS_Store